# Ignorar carpetas de Visual Studio
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.suo
*.sln.docstates

# Ignorar carpetas y archivos de extensión CPH
*.cph/

# Ignorar archivos y carpetas generados por C++
*.exe
*.out
*.obj
*.pdb
*.idb
*.lib
*.a
*.dylib
*.so
*.dll

# Ignorar otros archivos y carpetas comunes
*.log
*.tmp
*.bak
*.swp
*.class
*.jar


# Ignorar archivos binarios generados
*/bin/*
